* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.none {
  display: none;
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.post__content {
  padding: 10px 20px;
  border: 1px solid teal;
}

.post__title {
  font-size: 32px;
  margin-bottom: 20px;
}

.post__descr {
  max-width: 500px;
  margin-bottom: 20px;
}
